<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CometChatLog</key>
    <string></string>
    <key>Authentication</key>
    <dict>
        <key>API_KEY</key>
        <string>ENTER API KEY</string>
        <key>APP_ID</key>
        <string>ENTER APP ID</string>
        <key>REGION</key>
        <string>ENTER REGION CODE</string>
    </dict>
    <key>UIApperance</key>
    <string>PersianBlue</string>
    <key>New item</key>
    <string></string>
    <key>UIAppearanceFont</key>
    <dict>
        <key>regular</key>
        <string>Futura-Medium</string>
        <key>bold</key>
        <string>Futura-Bold</string>
        <key>italic</key>
        <string>Futura-MediumItalic</string>
    </dict>
    <key>UIAppearanceSize</key>
    <dict>
        <key>CORNER_RADIUS</key>
        <integer>5</integer>
        <key>Padding</key>
        <integer>0</integer>
    </dict>
    <key>UIAppearanceColor</key>
    <dict>
        <key>NAVIGATION_BAR_COLOR</key>
        <string>660000</string>
        <key>NAVIGATION_BAR_TITLE_COLOR</key>
        <string>FFFFFF</string>
        <key>NAVIGATION_BAR_BUTTON_TINT_COLOR</key>
        <string>FFFFFF</string>
        <key>BACKGROUND_COLOR</key>
        <string>660000</string>
        <key>LOGIN_BUTTON_TINT_COLOR</key>
        <string>660000</string>
        <key>LOGO_TINT_COLOR</key>
        <string>FFFFFF</string>
        <key>RIGHT_BUBBLE_BACKGROUND_COLOR</key>
        <string>660000</string>
        <key>SEARCH_BAR_STYLE_LIGHT_CONTENT</key>
        <true/>
    </dict>
</dict>
</plist>
