*.framework filter=lfs diff=lfs merge=lfs -text
Vendors/JitsiMeet.framework/JitsiMeet filter=lfs diff=lfs merge=lfs -text
Xcode/[[:space:]]11/Pods/CometChatPro/Vendors/JitsiMeet.framework/JitsiMeet[[:space:]] filter=lfs diff=lfs merge=lfs -text
Xcode[[:space:]]11/Pods/CometChatPro/Vendors/JitsiMeet.framework/JitsiMeet filter=lfs diff=lfs merge=lfs -text
v2.0/Xcode[[:space:]]10.2/Pods/CometChatPro/Vendors/JitsiMeet.framework/JitsiMeet filter=lfs diff=lfs merge=lfs -text
v2.0/Xcode[[:space:]]11/Pods/CometChatPro/Vendors/JitsiMeet.framework/JitsiMeet filter=lfs diff=lfs merge=lfs -text
v1.8/Xcode[[:space:]]10.2/Pods/CometChatPro/Vendors/JitsiMeet.framework/JitsiMeet filter=lfs diff=lfs merge=lfs -text
v1.8/Xcode[[:space:]]11/Pods/CometChatPro/Vendors/JitsiMeet.framework/JitsiMeet filter=lfs diff=lfs merge=lfs -text





















