*.framework filter=lfs diff=lfs merge=lfs -text
Vendors/JitsiMeet.framework/JitsiMeet filter=lfs diff=lfs merge=lfs -text
Xcode/[[:space:]]11/Pods/CometChatPro/Vendors/JitsiMeet.framework/JitsiMeet[[:space:]] filter=lfs diff=lfs merge=lfs -text
Xcode[[:space:]]11/Pods/CometChatPro/Vendors/JitsiMeet.framework/JitsiMeet filter=lfs diff=lfs merge=lfs -text
