<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>122431658736-6a3miukcoi6462deaa45clbl6ajpae9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122431658736-6a3miukcoi6462deaa45clbl6ajpae9m</string>
	<key>API_KEY</key>
	<string>AIzaSyDFu10yoEeiq8dpQZmgzGJVlEdSEHUNZC8</string>
	<key>GCM_SENDER_ID</key>
	<string>122431658736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inscripts.comatchat.dev2</string>
	<key>PROJECT_ID</key>
	<string>pro-demo-229414</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-demo-229414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122431658736:ios:b0774c405edce414</string>
	<key>DATABASE_URL</key>
	<string>https://pro-demo-229414.firebaseio.com</string>
</dict>
</plist>